[Unit]
Description=tribute.js
After=network.target

[Service]
ExecStart=/home/radek/Documents/node/tribute.js/server.sh
Restart=always
User=radek
Group=radek
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/radek/Documents/node/tribute.js

[Install]
WantedBy=multi-user.target